@media (prefers-color-scheme: light) {
  .input {
    --label-color: black;
    --label-background-color: white;

    --input-color: black;
    --input-background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    --label-color: white;
    --label-background-color: black;

    --input-color: white;
    --input-background-color: black;
  }
}

.input-label {
  color: var(--label-color);
  background-color: var(--label-background-color);
}

input[type='text'],
input[type='date'],
input[type='checkbox'],
input[type='radio'],
input[type='file'],
input.input-inner-select {
  color: var(--input-color);
  background-color: var(--input-background-color);
}
