@media (prefers-color-scheme: light) {
  .input {
    --label-color: black;
    --label-background-color: white;

    --input-color: black;
    --input-background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    --label-color: white;
    --label-background-color: black;

    --input-color: white;
    --input-background-color: black;
  }
}

.input {
  display: flex;
  margin-block: 1rem;
}

.input-label {
  color: var(--label-color);
  background-color: var(--label-background-color);
  margin-inline-end: 1rem;
}

.input-inner-text,
.input-inner-textarea,
.input-inner-email,
.input-inner-url,
.input-inner-date,
.input-inner-checkbox,
.input-inner-radio,
.input-inner-file,
.input-inner-select {
  color: var(--input-color);
  background-color: var(--input-background-color);
}
