.input input,
.input select,
.input textarea {
  margin-inline: 1rem;
}

.label .input-inner-text,
.label .input-inner-textarea,
.label .input-inner-email,
.label .input-inner-url,
.label .input-inner-date,
.label .input-inner-checkbox,
.label .input-inner-radio,
.label .input-inner-radio-group,
.label .input-inner-select {
  color: var(--input-color);
  background-color: var(--input-background-color);

  border: 1px solid var(--input-color);
}

.label .input-inner-file {
  color: var(--input-color);
  background-color: var(--input-background-color);

  border: none;
}
