# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Builds
vite.config.ts.timestamp-*
*.tsbuildinfo
*.js
*.js.map
*.jsx

# Tests
coverage
cypress/videos
cypress/screenshots
.nyc_output
