.button {
  display: flex;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 0;
  padding: 6px;
  background-color: field;
}

.button:hover {
  background-color: var(--button-hover-background-color);
}
