.progress {
  display: flex;
  align-items: center;
}

.spinner {
  animation: 1s linear 0s infinite rotate-spinner;

  background-color: transparent;
  font-size: 24px;
}

@keyframes rotate-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
