.header {
  color: var(--color);
  background-color: var(--header-background-color);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
}

.header-nav {
  display: inline-flex;
  place-items: start;
  background-color: inherit;
}

.header-route-list {
  display: inline-flex;
  list-style: none;
  background-color: inherit;
  padding-inline-start: unset;
}

.list-item {
  margin-inline-start: 1rem;
  background-color: inherit;
}

.link {
  color: silver;
  background-color: blue;
  text-decoration: none;
  border-radius: var(--border-radius);
  padding: 8px;
}

.current.link {
  /* font-size: 2rem; */
  text-decoration: inherit;
  background-color: orange;
}

.search {
  margin-inline-end: 1rem;
}
