.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;

  padding-inline: 1rem;
  padding-block: 1rem;

  color: var(--footer-color);
  background-color: var(--footer-background-color);
}

.footer .github-link {
  color: inherit;
  background-color: inherit;
}
