.search {
  color: var(--color);
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
}

.searchIcon {
  color: var(--color);
  background-color: transparent;
  font-size: 24px;
  position: absolute;
  margin-inline-start: 5px;
}

.searchInput {
  color: var(--color);
  background-color: var(--background-color);

  height: 2rem;

  border-radius: inherit;
  border: 1px solid dodgerblue;

  padding-inline-start: 2rem;
}
