:root {
  --border-radius: 6px;
  --button-focus: slategrey;

  --header-height: 5rem;
  --header-z-index: 1;

  --app-margin: var(--header-height);

  --dialog-z-index: 1;

  --form-valid-color: greenyellow;
  --form-invalid-color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --background-color-rgb: 255, 255, 255;

    --color: #000;
    --color-rgb: 0, 0, 0;

    --button-background-color: lightcyan;
    --button-hover-outline: darkcyan;

    --header-background-color: lightblue;

    --footer-color: lightblue;
    --footer-background-color: midnightblue;

    --label-color: #000;
    --label-background-color: #fff;

    --input-color: #000;
    --input-background-color: #fff;
  }

  ::backdrop {
    --color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --background-color-rgb: 0, 0, 0;

    --color: #fff;
    --color-rgb: 255, 255, 255;

    --button-background-color: darkslategrey;
    --button-hover-outline: lightslategrey;

    --header-background-color: midnightblue;

    --footer-color: midnightblue;
    --footer-background-color: lightblue;

    --label-color: #fff;
    --label-background-color: #000;

    --input-color: #fff;
    --input-background-color: #000;
  }

  ::backdrop {
    --color: #fff;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

* {
  font-style: normal;
  font-variant-ligatures: no-common-ligatures;
  font-stretch: normal;
  line-height: 1.5;
  font-synthesis: none;

  text-decoration-thickness: from-font;
  text-decoration-skip-ink: all;
  text-emphasis-position: under left;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--color);
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  place-items: center stretch;
  background-color: var(--background-color);
}

header {
  position: fixed;
  height: var(--header-height);
  background-color: var(--header-background-color);
}

a {
  font-weight: 500;
}

.label {
  color: var(--label-color);
  background-color: var(--label-background-color);
  display: flex;

  margin-block-start: 1rem;
}

.material-icons {
  user-select: none;
}

input[type] {
  color: var(--input-color);
  background-color: var(--input-background-color);

  border: 1px solid var(--input-color);
  border-radius: var(--border-radius);
  padding: 8px;

  margin-inline: 1rem;
}
